html, body {

}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto.ttf);
}

body {
  font-family: 'Roboto', sans-serif;
}

.my-container {
  max-width: 1440px;
  margin: 0 auto;
}

.fs-min {
    font-size: 12px;
}

.fs-md {
    font-size: 14px;
}

aside .nav-link {
    box-sizing: border-box;
    white-space: normal;
    overflow-wrap: anywhere;
}

.my-border {
    border-right: 1px solid #ccc;
}

@media (max-width: 768px) {
    .my-border {
        border-right: 0
    }
}

.border-category {
    border: 2px solid #0d6efd;
    border-radius: 0;
}

.border-line {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    border-top: 1px solid #dee2e6;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-60 {
    margin-top: 60px;
}

@media (max-width: 767px) {
    .mt-60 {
        margin-top: 10px;
    }
}

.mt-100 {
    margin-top: 100px;
}

.selected-category {
    border: none;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    border: none;
}

.ms-70 {
    margin-left: 70px;
}

.btn-hover {
    border: none;
    text-decoration: none;
}

.img-hover:hover .img-hover:active {
    rotate: 180deg;
}


.show {
    margin: 0 auto;
}


.text-color {
    color: #0d6efd;
}







