<div class="dashboard-container">

    <h1 class="mt-xl-5 mt-lg-5 mt-md-5 mt-sm-0">Главная</h1>
    <div class="container-fluid m-0 ps-0 pe-0">
        <div class="mt-5">
            <div class="row gx-0 d-grid gap-2 d-md-flex d-lg-flex mb-3 me-0">
                <button class="col-12 col-md-4 col-lg-2 col-xxl-1 btn btn-secondary" type="button">Сегодня
                </button>
                <button class="col-12 col-md-4 col-lg-2 col-xxl-1 btn btn-outline-secondary" type="button">
                    Неделя
                </button>
                <button class="col-12 col-md-4 col-lg-2 col-xxl-1 btn btn-outline-secondary" type="button">
                    Месяц
                </button>
                <button class="col-12 col-md-4 col-lg-2 col-xxl-1 btn btn-outline-secondary" type="button">Год
                </button>
                <button class="col-12 col-md-4 col-lg-2 col-xxl-1 btn btn-outline-secondary" type="button">Все
                </button>
                <button class="col-12 col-md-4 col-lg-2 col-xxl-auto btn btn-outline-secondary" type="button">
                    Интервал
                </button>
                <div class="col-12 col-md-5 col-lg-5 col-xxl-3 choice-date">
                    <span>с</span>
                    <button type="button" class="btn btn-link">Дата</button>
                    <span>по</span>
                    <button type="button" class="btn btn-link">Дата</button>
                </div>
            </div>
        </div>
        <div class="row gx-0 mt-5 text-center pt-md-0 pt-lg-5">
            <div class="col-xxl-6 col-lg-12 pb-5 my-border-block">
                <h2 class="mb-3">Доходы</h2>
                <div class="color-section mb-5">
                    <label class="form-check-inline">
                        <button class="btn btn-color bg-danger" type="button" id="incomeRed"></button>
                        <span>Red</span>
                    </label>
                    <label class="form-check-inline">
                        <button class="btn btn-color btn-orange" type="button" id="incomeOrange"></button>
                        <span>Orange</span>
                    </label>
                    <label class="form-check-inline">
                        <button class="btn btn-color bg-warning" type="button" id="incomeYellow"></button>
                        <span>Yellow</span>
                    </label>
                    <label class="form-check-inline">
                        <button class="btn btn-color btn-green" type="button" id="incomeGreen"></button>
                        <span>Green</span>
                    </label>
                    <label class="form-check-inline">
                        <button class="btn btn-color bg-primary" type="button" id="incomeBlue"></button>
                        <span>Blue</span>
                    </label>
                </div>
                <div class="color-circle">
                    <div class="mx-auto pie-circle-income"></div>
                </div>
            </div>

            <div class="col-xxl-6 col-lg-12">
                <h2 class="mb-3">Расходы</h2>
                <div class="color-section mb-5">
                    <label class="form-check-inline">
                        <button class="btn btn-color bg-danger" type="button" id="expenseRed"></button>
                        <span>Red</span>
                    </label>
                    <label class="form-check-inline">
                        <button class="btn btn-color btn-orange" type="button" id="expenseOrange"></button>
                        <span>Orange</span>
                    </label>
                    <label class="form-check-inline">
                        <button class="btn btn-color bg-warning" type="button" id="expenseYellow"></button>
                        <span>Yellow</span>
                    </label>
                    <label class="form-check-inline">
                        <button class="btn btn-color btn-green" type="button" id="expenseGreen"></button>
                        <span>Green</span>
                    </label>
                    <label class="form-check-inline">
                        <button class="btn btn-color bg-primary" type="button" id="expenseBlue"></button>
                        <span>Blue</span>
                    </label>
                </div>
                <div class="color-circle">
                    <div class="mx-auto pie-circle-expenses"></div>
                </div>
            </div>
        </div>
    </div>
</div>
