

<div class="container-fluid p-0 m-0">
    <div class="row gx-0 min-vh-100">
        <aside class="d-block d-md-flex d-lg-flex d-xxl-flex flex-column justify-content-between col-sm-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2 py-5 px-0 text-center my-border">
            <nav class="navbar mx-auto d-flex flex-column w-100">
                <div class="logo d-flex text-center border-bottom w-100">
                    <img src="../images/logo.png" alt="Logo" class="img-fluid mx-auto mb-4">
                </div>
                <!-- Кнопка только < md -->
                <button class="navbar-toggler d-md-none mx-auto my-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
                        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Меню">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse d-md-block w-100 navbar"
                     id="sidebarMenu">
                    <div class=" w-100 fs-6">
                        <div class="mt-60 px-3">
                            <ul class="nav nav-pills flex-column fs-6 ">
                                <li class="nav-item w-100">
                                    <a href="#/dashboard"
                                       class="nav-link w-100 link-dark py-2 px-3 d-flex justify-content-start align-items-center"
                                       aria-current="page">
                                        <img src="../images/icon-home-black.png" alt="Icon home"
                                             class="img-fluid me-2 d-inline-block align-text-top">
                                        <p class="m-0 p-0 text-start">Главная</p>
                                    </a>
                                </li>
                                <li class="nav-item w-100">
                                    <a href="#/transactions"
                                       class="nav-link w-100 link-dark py-2 px-3 d-flex justify-content-start align-items-center">
                                        <img src="../images/icon-budget.png" alt="Icon budget"
                                             class="img-fluid me-2 d-inline-block align-text-top">
                                        <p class="m-0 p-0 text-start text-nowrap">Доходы & Расходы</p>
                                    </a>
                                </li>
                                <li class="btn-group border-category border-0">
                                    <button class="btn dropdown-toggle nav-link active rounded-bottom-0 d-flex justify-content-between border-category px-3 border-0 text-start show"
                                            type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown"
                                            data-bs-auto-close="outside" aria-expanded="true">
                                        <span>Категории</span>
                                        <div class="icon-arrow">
                                            <img src="../images/icon-arrow-white.png" alt="Arrow">
                                        </div>
                                    </button>
                                    <ul class="dropdown-menu p-0 m-0 w-100 show"
                                        aria-labelledby="dropdownMenuClickableInside" data-bs-popper="static">
                                        <li>
                                            <a class="dropdown-item nav-link active rounded-0 text-start  px-3 border-category "
                                               href="javascript:void(0)">Доходы</a></li>
                                        <li>
                                            <a class="dropdown-item nav-link text-primary rounded-top-0 text-start px-3 border-category "
                                               href="#/outlay-groups">Расходы</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="down">
                <div class="balance text-start mb-20 mt-100 px-3">Баланс: <span
                        class="text-primary">500 ₽</span></div>
                <div class="border-top">

                    <a href="javascript:void(0)" class="text-decoration-none text-dark" id="logout">
                        <div class="d-flex align-items-center gap-2 mt-4" data-bs-toggle="tooltip" title="Выход">
                            <div class="image-user">
                                <img src="../images/icon-user.png" alt="User icon"
                                     class="ps-3 me-2 d-inline-block align-text-top">
                            </div>
                            <p class="mb-0 text-start pe-3" id="user"></p>
                        </div>
                    </a>
                </div>
            </div>
        </aside>

        <section
                class="content col-sm-12 col-md-8 col-lg-9 col-xl-9 col-xxl-10 pt-sm-0 pt-md-5 px-3 ps-md-5 ps-lg-5 text-start"
                id="content">
            <h1 class="mb-4 mt-xl-5 mt-lg-5 mt-md-5 mt-sm-0">Доходы</h1>

            <div class="container-fluid m-0">
                <div class="row gap-3">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-4 col-xxl-3 d-flex flex-column p-3 border">
                        <h3>Депозиты</h3>
                        <div class="d-flex gap-2 buttons">
                            <a href="#/edit-income-group">
                                <button type="button" class="btn btn-primary fs-md">Редактировать</button>
                            </a>
                            <button type="button" class="btn btn-danger fs-md" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Удалить
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 col-md-8 col-lg-4 col-xxl-3 d-flex flex-column p-3 border">
                        <h3>Зарплата</h3>
                        <div class="d-flex gap-2 buttons">
                            <a href="#/edit-income-group">
                                <button type="button" class="btn btn-primary fs-md">Редактировать</button>
                            </a>
                            <button type="button" class="btn btn-danger fs-md" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Удалить
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 col-md-8 col-lg-4 col-xxl-3 d-flex flex-column p-3 border">
                        <h3>Сбережения</h3>
                        <div class="d-flex gap-2 buttons">
                            <a href="#/edit-income-group">
                                <button type="button" class="btn btn-primary fs-md">Редактировать</button>
                            </a>
                            <button type="button" class="btn btn-danger fs-md" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Удалить
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 col-md-8 col-lg-4 col-xxl-3 d-flex flex-column p-3 border">
                        <h3>Инвестиции</h3>
                        <div class="d-flex gap-2 buttons">
                            <a href="edit-income-group">
                                <button type="button" class="btn btn-primary fs-md">Редактировать</button>
                            </a>
                            <button type="button" class="btn btn-danger fs-md" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Удалить
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 col-md-8 col-lg-4 col-xxl-3 d-flex flex-column p-3 border">
                        <div class="mx-auto my-4">
                            <a href="#/create-income-group">
                                <img src="../images/plus.png" alt="Plus" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade text-center" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body px-0 pt-4 pb-2">
                <p class="m-0">Вы действительно хотите удалить категорию?</p>
                <p class="m-0">Связанные доходы останутся без категории.</p>
            </div>
            <div class="modal-footer justify-content-center border-top-0 text-center px-0 pt-0 pb-4">
                <button type="button" class="btn btn-success">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>
