<div class="income-groups-container">

    <h1 class="mb-4 mt-xl-5 mt-lg-5 mt-md-5 mt-sm-0">Доходы</h1>

    <div class="container-fluid m-0">
        <div id="new-category" class="row gap-3">
            <div class="col-12 col-sm-10 col-md-8 col-lg-4 col-xxl-3 d-flex flex-column p-3 border">
                <div class="mx-auto my-4" id="create-income-group">
                    <a href="#/create-income-group">
                        <img src="../images/plus.png" alt="Plus" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-center" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body px-0 pt-4 pb-2">
                <p class="m-0">Вы действительно хотите удалить категорию?</p>
                <p class="m-0">Связанные доходы останутся без категории.</p>
            </div>
            <div class="modal-footer justify-content-center border-top-0 text-center px-0 pt-0 pb-4">
                <button type="button" class="btn btn-success" id="delete-input-group">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>
