<div class="container-fluid p-0 m-0">
    <div class="row gx-0 min-vh-100">
        <aside class="d-block d-md-flex d-lg-flex d-xxl-flex flex-column justify-content-between col-sm-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2 py-5 px-0 text-center my-border">
            <nav class="navbar mx-auto d-flex flex-column w-100">
                <div class="logo d-flex text-center border-bottom w-100">
                    <img src="../images/logo.png" alt="Logo" class="img-fluid mx-auto mb-4">
                </div>
                <!-- Кнопка только < md -->
                <button class="navbar-toggler d-md-none mx-auto my-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
                        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Меню">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse d-md-block w-100 navbar"
                     id="sidebarMenu">
                    <div class=" w-100 fs-6">
                        <div class="mt-60 px-3">
                            <ul class="nav nav-pills flex-column fs-6 ">
                                <li class="nav-item w-100">
                                    <a id="dashboard" href="#/dashboard" data-routes="#/dashboard"
                                       class="nav-link w-100 link-dark py-2 px-3 d-flex justify-content-start align-items-center"
                                       aria-current="page">
                                        <img id="img-home" src="../images/icon-home-black.png" alt="Icon home"
                                             class="img-fluid me-2 d-inline-block align-text-top">
                                        <p class="m-0 p-0 text-start">Главная</p>
                                    </a>
                                </li>
                                <li class="nav-item w-100">
                                    <a id="transactions" href="#/transactions" data-routes="#/transactions"
                                       class="reset nav-link w-100 link-dark py-2 px-3 d-flex justify-content-start align-items-center">
                                        <img id="img-budget" src="../images/icon-budget.png" alt="Icon budget"
                                             class="img-fluid me-2 d-inline-block align-text-top">
                                        <p class="m-0 p-0 text-start text-nowrap">Доходы & Расходы</p>
                                    </a>
                                </li>
                                <li class="btn-group border-category border-0">
                                    <button class="btn dropdown-toggle nav-link active rounded-bottom-0 d-flex justify-content-between border-category px-3 border-0 text-start show"
                                            type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown"
                                            data-bs-auto-close="outside" aria-expanded="true">
                                        <span>Категории</span>
                                        <div id="img-hover" class="icon-arrow img-hover">
                                            <img id="icon-arrow" src="../images/icon-arrow.png" alt="Arrow">
                                        </div>
                                    </button>
                                    <ul id="ul-show" class="dropdown-menu p-0 m-0 w-100"
                                        aria-labelledby="dropdownMenuClickableInside" data-bs-popper="static">
                                        <li>
                                            <a id="income-groups" class="dropdown-item nav-link rounded-0 text-start px-3"
                                               href="#/income-groups" data-routes="#/income-groups,#/create-income-group,#/edit-income-group">Доходы</a></li>
                                        <li>
                                            <a id="outlay-groups" class="dropdown-item nav-link rounded-top-0 text-start px-3"
                                               href="#/outlay-groups" data-routes="#/outlay-groups,#/create-outlay-group,#/edit-outlay-group">Расходы</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="down">
                <div class="balance text-start mb-20 mt-100 px-3">Баланс: <span
                        class="text-primary">500 ₽</span></div>
                <div class="border-top">
                    <a href="javascript:void(0)" class="text-decoration-none text-dark" id="logout">
                        <div class="d-flex align-items-center gap-2 mt-4" data-bs-toggle="tooltip" title="Выход">
                            <div class="image-user">
                                <img src="../images/icon-user.png" alt="User icon"
                                     class="ps-3 me-2 d-inline-block align-text-top">
                            </div>
                            <p class="mb-0 text-start pe-3" id="user"></p>
                        </div>
                    </a>
                </div>
            </div>
        </aside>

        <section
                class="content col-sm-12 col-md-8 col-lg-9 col-xl-9 col-xxl-10 pt-sm-0 pt-md-5 px-3 ps-md-5 ps-lg-5 pe-md-0 text-start"
                id="content-layout">


        </section>
    </div>
</div>