<div class="transactions-container">

    <h1 class="mt-xl-5 mt-lg-5 mt-md-5 mt-sm-0">Доходы и расходы</h1>
    <div class="container-fluid m-0 px-0 py-4">
        <div class="d-flex gap-2 buttons">
            <a href="javascript:void(0)">
                <button type="button" class="btn btn-success fs-md" id="create-income">Создать доход</button>
            </a>
            <a href="javascript:void(0)">
                <button type="button" class="btn btn-danger fs-md" id="create-outlay">Создать расход</button>
            </a>
        </div>
        <div class="mt-5">
            <div class="row gx-0 d-grid gap-2 d-md-flex d-lg-flex mb-3 me-0" id="period-filters">
                <button type="button" data-period="today"
                        class="col-12 col-md-4 col-lg-2 col-xxl-1 btn btn-secondary period-btn">
                    Сегодня
                </button>
                <button type="button" data-period="week"
                        class="col-12 col-md-4 col-lg-2 col-xxl-1 btn btn-outline-secondary period-btn">
                    Неделя
                </button>
                <button type="button" data-period="month"
                        class="col-12 col-md-4 col-lg-2 col-xxl-1 btn btn-outline-secondary period-btn">
                    Месяц
                </button>
                <button type="button" data-period="year"
                        class="col-12 col-md-4 col-lg-2 col-xxl-1 btn btn-outline-secondary period-btn">
                    Год
                </button>
                <button type="button" data-period="all"
                        class="col-12 col-md-4 col-lg-2 col-xxl-1 btn btn-outline-secondary period-btn">
                    Все
                </button>
                <button type="button" data-period="interval"
                        class="col-12 col-md-4 col-lg-2 col-xxl-auto btn btn-outline-secondary period-btn">
                    Интервал
                </button>

                <div class="col-12 col-md-5 col-lg-5 col-xxl-3 choice-date d-none align-items-center gap-2"
                     id="interval-block">
                    <span>с</span>
                    <input type="date" class="form-control form-control-sm" id="dateFrom">
                    <span>по</span>
                    <input type="date" class="form-control form-control-sm" id="dateTo">
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive text-center">
        <table class=" gx-0 m-0 table">
            <thead>
            <tr>
                <th class="col-lg-auto text-nowrap" scope="col">
                    <div class="d-lg-none">№</div>
                    <div class="d-none d-lg-block ">№ операции</div>
                </th>
                <th scope="col">Тип</th>
                <th scope="col">Категория</th>
                <th scope="col">Сумма</th>
                <th scope="col">Дата</th>
                <th scope="col">Комментарий</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="records">
            <!--создаем таблицу в файле transactions.js-->
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade text-center" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body px-0 pt-4 pb-2">
                <p class="m-0">Вы действительно хотите удалить операцию?</p>
            </div>
            <div class="modal-footer justify-content-center border-top-0 text-center px-0 pt-0 pb-4">
                <button type="button" class="btn btn-success" id="delete-operation">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>
